language: java
jdk:
- oraclejdk11
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
- rm -fr $HOME/.gradle/caches/*/scripts/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.sonar/cache"
  
# overriding the install step is important to avoid that ./gradlew assemble is run (which is the default in travis)
install:
  - pyenv global 3.6
  - python --version
  - pip3 install liac-arff numpy scipy scikit-learn tpot pandas xgboost

# defines a matrix of jobs for testing.
env:
  global:
  - secure: yUfjJ5ZSdOWWYLye5Oc6LnkN8fRFHOvRM/NlH15NXN5ZloRqfsfcQ80TFUBOCkEBwGPwUqhqZn2x7yc6XzVlpZ0lNc8voDvDNvGk2V0R42QOHUPFce0HicAtslM6we05kWA3wmcKvB3nBhRC1rPcrZC3a0G2Vby8yfvO2BEEog7Cb8zhaX5RcOFedSw3pgDrnu/aglZ2mtOjhyt36aYXx7UGY9ueEO24EcF0R8XKNn8h7qSnr7GJtPLioTME4gCOhV57YBBgDbM72I33Rmmr1fvb264/QTozYh5E0e+0uv5BuQO8q4XZU5VjdG+eTISbtkXc3bFSAOeVYUrXJBv7t7C/IhuiaHFRSC8O9dME8MXfaa/0E199CgmI7M23LIjKF7r3gPz6VvBx9BBs3m7zgCnwBhomw8ggk1U21GDYR5AwoaGhYpBCFfdMNPnPiS8vpoXYk9L1dl8vyGRyVLBNpAq7wXthWrUz3X3HEEMVWDyRqnugDzS+lE/hB+Mh7TA+lqVJegRcNOyjHw/JdynEbbvatRXOZQftcgQ4FZ81dUjI+Svin79WCdCSGM8fcTTIB5+/avoggAyLwQpsX5BXewEhADdwl5OcsFiYBPZLbX0gUBtbIKCsEOxUMX55VbzdiLoWOFMjjqUeyXJteGdqVKcFIyEazJ/Eh07lc78SxqE=
  jobs:
  - TEST_PROJECT=:hasco-core
  - TEST_PROJECT=:hasco-fanova
  - TEST_PROJECT=:JAICore:jaicore-algorithminspector
  - TEST_PROJECT=:JAICore:jaicore-basic
  - TEST_PROJECT=:JAICore:jaicore-components
  - TEST_PROJECT=:JAICore:jaicore-ea
  - TEST_PROJECT=:JAICore:jaicore-experiments
  - TEST_PROJECT=:JAICore:jaicore-logic
  - TEST_PROJECT=:JAICore:jaicore-math
  - TEST_PROJECT=:JAICore:jaicore-ml TEST_TASK=testOpenMLAdapter
  - TEST_PROJECT=:JAICore:jaicore-ml TEST_TASK=testSampling
  - TEST_PROJECT=:JAICore:jaicore-ml TEST_TASK=testOthers
  - TEST_PROJECT=:JAICore:jaicore-ml-meka 
  - TEST_PROJECT=:JAICore:jaicore-ml-weka TEST_TASK=testInterruptibility
  - TEST_PROJECT=:JAICore:jaicore-ml-weka TEST_TASK=testCancelability
  - TEST_PROJECT=:JAICore:jaicore-ml-weka TEST_TASK=testTimeoutability
  - TEST_PROJECT=:JAICore:jaicore-ml-weka TEST_TASK=testWithoutICT
  - TEST_PROJECT=:JAICore:jaicore-planning
  - TEST_PROJECT=:JAICore:jaicore-processes
  - TEST_PROJECT=:JAICore:jaicore-search TEST_TASK=testInterruptibilityDefault
  - TEST_PROJECT=:JAICore:jaicore-search TEST_TASK=testInterruptibilityMCTS
  - TEST_PROJECT=:JAICore:jaicore-search TEST_TASK=testCancelability
  - TEST_PROJECT=:JAICore:jaicore-search TEST_TASK=testTimeoutability
  - TEST_PROJECT=:JAICore:jaicore-search TEST_TASK=testWithoutICT
  - TEST_PROJECT=:mlplan-core
  - TEST_PROJECT=:mlplan-ext-reduction

  - TEST_PROJECT=:mlplan-full
  - TEST_PROJECT=:mlplan-gui
  - TEST_PROJECT=:mlplan-meka
  - TEST_PROJECT=:mlplan-sklearn
  - TEST_PROJECT=:mlplan-weka


addons:
  apt:
    sources:
      - deadsnakes # source required so it finds the package definition below
    packages:
      - python3.6
  sonarcloud:
    organization: "starlibs"

script:
  - echo $TEST_PROJECT
  - ./.travis_runtests.sh


# Assign jobs to stages. The test jobs defined above are implicitly assigned to the test stage: https://docs.travis-ci.com/user/build-stages/#naming-your-build-stages
jobs:
  include:      
    - stage: check_build
      env: 
        jobs:
          - TEST_PROJECT=NONE
      script:
        - ./gradlew compileJava
        - ./gradlew testClasses
        - git fetch --no-tags --unshallow https://github.com/fmohr/AILibs.git +master:refs/heads/master
        - git fetch --no-tags https://github.com/fmohr/AILibs.git +dev:refs/heads/dev
        - ./gradlew sonarqube -x test

# configures the *order* of the stages. See https://docs.travis-ci.com/user/build-stages/
stages:
  - check_build
  - test


