edge {
	padding: 100px;
}

node {
	size-mode: fit;
	fill-mode: dyn-plain;
	fill-color: yellow,red, blue;
	padding: 5px;
}

node.root {
	padding: 10px;
	fill-color: black;
}


node.and_solution {
	shape: box;
	padding: 6px;
	fill-color: green;
}

node.or_solution {
	shape: circle;
	fill-color: green;
}