/bin/
/.gradle/
/results/
/tmp/
/logs/
/build/
/smac-v2.10.03-master-778/
/params/
/autoweka.smac.SMACExperimentConstructor.properties
/http/objects/
/tmp*
*.pyc
/localtmp/
/http/
/.classpath
/.project
/.settings/
/gradle/
/gradle.properties


# Necessary dyad ranking models
!resources/draco/partial_pipeline_ranking/models/* 
