<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="trace" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="(%d{ISO8601}) %-5p [%t] [%c{1}.%M:%L] 
				- %m%n" /> -->
			<param name="ConversionPattern" value="%-5p [%t] [%c{1}.%M:%L] - %m%n" />
		</layout>
	</appender>

	<appender name="infoFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/info.log" />
		<param name="Threshold" value="INFO" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="(%d{ISO8601}) %-5p [%t] [%c{1}.%M:%L] - %m%n" />
		</layout>
	</appender>

	<appender name="errFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/error.log" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="(%d{ISO8601}) %-5p [%t] [%c{1}.%M:%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="warnFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/warn.log" />
		<param name="Threshold" value="WARN" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="(%d{ISO8601}) %-5p [%t] [%c{1}.%M:%L] - %m%n" />
		</layout>
	</appender>

	<appender name="traceFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/trace.log" />
		<param name="Threshold" value="TRACE" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="(%d{ISO8601}) %-5p [%t] [%c{1}.%M:%L] - %m%n" />
		</layout>
	</appender>

	<logger name="jaicore">
		<level value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="infoFileAppender" />
		<appender-ref ref="warnFileAppender" />
		<appender-ref ref="errFileAppender" />
		<appender-ref ref="traceFileAppender" />
	</logger>
	
	<logger name="jaicore.basic.algorithm.GeneralAlgorithmTester">
	 <level value="info" />
	</logger>
	
	<logger name="hasco">
	  <level value="warn" />
    <appender-ref ref="console" />
    <appender-ref ref="infoFileAppender" />
    <appender-ref ref="warnFileAppender" />
    <appender-ref ref="errFileAppender" />
    <appender-ref ref="traceFileAppender" />
	</logger>
	
  <logger name="hasco.core.HASCO">
    <level value="warn" />
  </logger>
  
  <logger name="hasco.core.IsValidParameterRangeRefinementPredicate">
    <level value="warn" />
  </logger>
  
  <logger name="jaicore.graphvisualizer">
    <level value="warn" />
  </logger>
  
  <logger name="hasco.gui.statsplugin">
    <level value="trace" />
  </logger>
	
	<logger name="testedalgorithm">
    <level value="info" />
    
    <appender-ref ref="console" />
    <appender-ref ref="infoFileAppender" />
    <appender-ref ref="warnFileAppender" />
    <appender-ref ref="errFileAppender" />
    <appender-ref ref="traceFileAppender" />
  </logger>
  
  <logger name="jaicore.timing">
    <level value="info" />
  </logger>
  
  <logger name="jaicore.interrupt">
    <level value="info" />
  </logger>
  
  <logger name="testedalgorithm.search">
    <level value="warn" />
  </logger>
</log4j:configuration>